* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Maven Pro', sans-serif;
}

section {
    /* background-color: rgba(181, 32, 32, 0.418); */
    background-color: rgba(181, 32, 32, 0.556);
    /* background-color: rgba(6, 115, 91, 0.759); */
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.61);
    border-radius: 8px;
    overflow: hidden;
}

#display {
    background-color: rgb(182, 182, 182);
    height: 100px;
    width: 100%;
    text-align: right;
    padding: 20px;
    font-size: 32px;
}

.buttons {
    color: #323330;
    display: grid;
    grid-template: repeat(4, 1fr)/repeat(4, 1fr);
}

.button {
    border: .5px solid rgba(92, 92, 92, 0.137);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
}

#del:hover {
    color: red;
}

#equal:hover {
    color: green;
}

.button:hover {
    background-color: #323330;
    color: white;
    transition: 0.3s ease-in-out;
}

.btn-0 {
    grid-column: 1/3;
}